body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b793d2;
}
#btn, #btn2{
    padding: 15px 30px;
    border-radius: 10px;
    border-color: #b793d2 ;
}